{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column one-third">
        <div class="notification is-info">
            Please search for a domain name using the box below.<br>
            Currently sub-domains (ie. www.example.com or staging.example.com are not supported).
        </div>
        <form action="{{ url_for('lookup') }}" method="POST">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="example.com" name="domain">
                <span class="icon is-small is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </p>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Lookup Results</button>
              </div>
            </div>
        </form>
    </div>
    <div class="column"></div>
</div>

{% endblock %}