{% extends "layout.html" %}
{% block title %}DNS Lookup{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class=tile is-ancestor">
        <div class="tile is-parent is-vertical is-5">
            <div class="tile is-child card">
              <header class="card-header">
                <p class="card-header-title">Nameserver Records<p>
                <a href="#" class="card-header-icon" aria-label="more options"></a>
              </header>
              <div class="card-content">
                <div class="content">
                {% if return_NS == 'null' %}
                <div class="notification is-warning">NS records for the domain could not be found.</div>
                {% else %}
                {% for item in return_NS %}
                <p>{{ item }}</p>

                {% endfor %}
                {% endif %}
                </div>
              </div>
            </div>

            <!-- <div class="card" style="margin-top: 10px; display: inline-block !important;"> -->
            <div class="tile is-child card">
              <header class="card-header">
                <p class="card-header-title">A Records</p>
                <a href="#" class="card-header-icon" aria-label="more options"></a>
              </header>
              <div class="card-content">
                <div class="content">
                {% if return_A == 'null' %}
                <div class="notification is-warning">A records for the domain could not be found.</div>
                {% else %}
                {% for item in return_A_all %}
                <div>
                    <p>IP Address: {{ item.get("ip", {}) }}</p>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">Owner</span>
                            <span class="tag is-info is-rounded"">{{ item.get("ip_name") }}</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">Country</span>
                            <span class="tag is-info is-rounded"">{{ item.get("ip_country") }}</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">ASN</span>
                            <span class="tag is-info is-rounded"">{{ item.get("ip_asn") }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                </div>
              </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical is-7">
            <div class="tile is-child card">
              <header class="card-header">
                <p class="card-header-title">MX Records</p>
                <a href="#" class="card-header-icon" aria-label="more options"></a>
              </header>
              <div class="card-content">
                <div class="content">
                {% if return_MX == 'null' %}
                <div class="notification is-warning">MX records for the domain could not be found.</div>
                {% else %}
                <table class="table is-fullwidth is-narrow">
                    <thead>
                        <th>TTL</th>
                        <th>Record</th>
                    </thead>
                    <tbody>
                    {% for item in return_MX %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
              </div>
                {% if return_problem_MX == True %}
                    <footer class="card-footer">
                    <div class="content" style="padding: 20px;">
                        <div class="notification is-warning">We've detected a problem with your mail configuration, please re-check your MX records.</div>
                    </div>
                </footer>
                {% endif %}
            </div>

            <div class="tile is-child card">
              <header class="card-header">
                <p class="card-header-title">TXT Records</p>
                <a href="#" class="card-header-icon" aria-label="more options"></a>
              </header>
              <div class="card-content">
                <div class="content">
                {% if return_TXT == 'null' %}
                <div class="notification is-warning">TXT records for the domain could not be found.</div>
                {% else %}
                {% for item in return_TXT %}
                <ul><code>{{ item }}</code></ul>
                {% endfor %}
                {% endif %}
                </div>
              </div>
              {% if return_TXT != 'null' %}

              {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}